// about common styles
body
  background-image url('../img/about_bg.jpg')
  background-repeat repeat-xy
  background-position center top
  &.device_sp
    background-image url('../img/bg_sp_loop.jpg')

.moao-header__text
  width 600px

.about-header
  .about-header__text
    font-size 2rem
    padding-bottom 40px

.about-exhibition
  padding-top 60px

.about-title
  line-height 1.5rem
  letter-spacing 1px
  .about-title__title
    padding-top 6px
    font-size 1.5rem
  .about-title__subtitle
    font-size 1.2rem

.about-description
  padding-top 0
  line-height 1.8rem

.about-link
    padding-top 30px
  .about-link__container
    padding 20px !important
    border 1px solid #fff
    &:hover
      background-color #fff
      p
        color #000 !important


.device_multicolumn
  .about-title
    padding-bottom 20px
  .about-description
    padding-top 30px
    font-size .8rem
    line-height 1.5rem

.device_onecolumn
  .moao-header__text
    font-size 15px
    width 1150px
  .about-title
    .about-title__title
      line-height 1.8rem
  .about-exhibition
    .about-gallery
      .about-gallery__container
        img
          margin-left -5px
