// info common styles
body
  background-image url('../img/info_bg.jpg')
  background-repeat repeat-y
  background-position center top
  &.device_sp
    background-image url('../img/bg_sp_loop.jpg')

.moao-header__text
  width 240px

.info-header
  padding 40px 0
  .info-header__text
    font-size 2rem
    padding-bottom 14px

.info-section-header
  padding-top 40px
  .info-section-header__text
    font-size 1.7rem
    padding-bottom 10px

.info-calendar
  .calendar-head
    display none
  .calendar-foot
    margin 0 20px
    padding 20px
    border-bottom 1px solid #fff

.info-access
  padding 40px 20px 0
  .info-access-map__route
    font-size .8rem
  .info-access-map__address
    padding-bottom 6px
    font-size 1.1rem
  .info-access-map__link
    &:hover
      text-decoration underline


.device_multicolumn
  .info-header
    padding-top 70px
  .info-section-header
    padding-top 50px
  .info-calendar
    .calendar-foot
      width 685px
      margin 0 auto
  .info-access
    .info-access-map__address
      padding-bottom 2px
    .info-access-map__link
      font-size .6rem
  .info-ticket
    .info-ticket__text
      padding-top 10px
      font-size 1.3rem
