include mixins/mixin_common
include mixins/mixin_artist

doctype html
html(lang='ja')
	head
		include components/meta_data

		block scripts
			script(type='text/javascript', src='js/module.artist_kotaka.js')

		block styles
			link(type='text/css', rel='stylesheet', href='css/module.artist_kotaka.css')

	body
		block navigation
			include components/navigation
			
		//- --- header area ---
		block header
			+common_header('作家紹介')

		block artist_profile
			+artist_profile({
			  name: {
			    ja: '小鷹拓郎',
			    en: 'Takuro Kotaka',
			    img: 'img/artist_kotaka_name.png'
			  },
			  thumbnail: 'img/artist_kotaka.jpg',
			  description: '1984年埼玉県生まれ。2012年までリサイクルショップ「こたか商店」を経営。主な企画に地域に埋もれた性愛文化を発掘した「国立奥多摩秘宝館」、墜落した修行僧たちの村を追い求めて四国を一周する「ようこそ！墜落お遍路村へ」など。主な展覧会に、2015年「国際交流基金主催　Shuffling Spaces」（Gallery Seescape、チェンマイ）、2014年「13日間のプレミアムな漂流」（国立奥多摩美術館、東京）など。'
			})
			
		block artist_works
			+artist_works([
			  {
			    title: '「こたか商店の最後の30日間」(2012)',
			    time: 87,
			    description: '前回の国立奥多摩美術館の展覧会で、探検家の関野吉晴は、「この世界には、風の民と、土の民がいるんだよ」と語りながら「風獣土獣図」を描いた。風の民とは、風のように常に流れ漂うような生き方をする人々。土の民とは、どっしり大地に根を張る人々。土が実らせた種を、風が他の土地に運び、また実らせる。そんな事が繰り返され、風と土の関係によってこの世界は構成されてきた。ふと、思えば「店」とは、土の民のモノである。大地に根を張るが如く、場所を定め、関係を作り、じっと風が吹くのを待つ。即ち、お客さんが来るのを待つ。店とは、土の民の為せる業なのである。しかし、この「こたか商店」店主、小鷹拓郎は、私の知る限りでは、根っからの風の民である。面白そうな事があれば、地球の裏側にだって行きかねない。巨大な好奇心というモンスターをその内に宿している。そんな小鷹の内に秘した風が、とうとう店の根っこを引っこ抜いた。これは、そんな風と土の物語ではないかと私は思っている。',
			    gallery: [
						'img/artist_kotaka_preview_saigo.jpg'
			    ]
			  },
			  {
			    title: '「ようこそ！堕落お遍路村へ」(2013)',
			    time: 64,
			    description: '気になったら、とことんトンと追いかける。それが小鷹拓郎の姿勢。今回はどうやら四国八十八カ所巡り。お遍路をしている人達の中に、悪事を働きながら聖地を巡る人がいるらしい。そんな不届き者を小鷹は、「堕落お遍路さん」と名付けた。そして、そんな人々が集まり村を形成しているとの噂。お遍路道という聖地の中に生まれた、更にこの世とは一線を画す、聖域・堕落お遍路村とはいったいどんなモノなのか。正しい人より、悔い改めた罪人こそが天国に行けると解釈できる様な、キリストの言葉があったり。妄想が膨らみきったところで、堕落お遍路村を求め、小鷹のリサーチお遍路が始まった。抜群のコミュニケーション能力と、尽きない好奇心で、出会う人。出会う人に、村について聞いて、訊いて、聴いていく。はたして、聖域は小鷹を招き入れるのか！？',
					gallery: [
					'img/artist_kotaka_preview_ohenro.jpg'
			    ]
			  },
				{
			    title: '「小鷹拓郎短編映像集」',
			    time: 100,
			    description: 'これは「失敗」の個人史である。「失敗」という言葉を辞書で調べてみると「物事をやりそこなうこと。方法や目的を誤って良い結果が得られないこと。しくじること。」と説明されている。小鷹は、世界中の政治的・象徴的な場所を訪れ、独自の手法で世界の流れに抗ってきた。『ポテトとアフリカ大陸を縦断するプロジェクト』では、アフリカにはポテトがないという根も葉もない噂を確かめるために、広大なアフリカ大陸を縦断し、『僕の代わりに妻のオノヨーコがパフォーマンスをします。』では、軍事政権下のミャンマーと米国の歴史的会談に便乗して妻を世界的な女性アーティストと偽って国際芸術祭への出演を画策した。さらに、『How to transform into Na Neck』では、タイの有名なコメディアンに変装してテレビ番組にゲリラ出演を試み、『Sound Wars from The Hole －洞穴聲戰－』では、香港で一番マヌケなサウンドアーティストと共に大規模な民主化デモが起こった中心街で路上パフォーマンスに挑む。ネタバレになってしまうのだが、いずれの作品でも小鷹は当初の目的を果たせぬまま失敗している。それでも失敗を繰り返す。いつか世界が振り向くその日まで。',
					gallery: [
					'img/artist_kotaka_preview_tanpen.jpg'
			    ]
			  }
			])
		block footer
			include components/footer
