doctype html
html(lang='ja')
  head
    include components/meta_data

    block scripts
      script(type='text/javascript', src='js/module.land.js')

    block styles
      link(type='text/css', rel='stylesheet', href='css/land-main.css')

  body
    block body
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
    img(src='img/V0BWuqQCTzXw.jpg', width='100%')
