// カレンダー
open-mark-color = #f00

.calendar
	.calendar-head__text
	.calendar-head__subtext
		display none
	.calendar-calhead
		font-size 1.5rem
		.calendar-calhead__text-t
			display none
	.calendar-content-wrapper
		.calendar-content__table
			display none
	.calendar-legend
		.calendar-legend__circlemark
			color open-mark-color
	.calendar-foot
		.calendar-foot__content
			font-size 1.5rem

.device_multicolumn
	.calendar
		.calendar-calhead
			padding-top 20px
		.calendar-content-wrapper
			margin-top -50px
			.calendar-left-margin
				width 16% !important
			.calendar-center-margin
				width 0 !important
		.calendar-foot__content
			font-size 1.8rem
			padding-top 4px
