text-color = #fff

body
	font-family "ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","HGS明朝E","ＭＳ Ｐ明朝",serif
	color text-color
	background-color #000
	font-size 15px
	line-height 20px

a
	display block
	text-decoration none
	color text-color
	&:link
	&:visited
	&:active
		color text-color
