// common mixin

.moao-header
  display flex
  padding 20px
  text-align center
  .moao-header__gate
    display block
    width 100%
    box-flex 1
    -moz-box-flex 1
    -webkit-box-flex 1
    -o-box-flex 1
    -ms-box-flex 1
    background-image url('../img/moao_header_bg_line.jpg')
    background-position left center
    background-repeat repeat-x
  .moao-header__text
    display block
    font-size 18px
