div#navigation.navigation
  div#navigation-background-js.navigation-bg
  div.navigation-icon.align-right
    span#navigation-icon-js.navigation-icon__icon.icon_open
  div#navigation-menu-js.navigation-menu
    div.navigation-content.row
      div.navigation-area__heading.column.whole.align-center
        a(href='./')
          p.navigation-heading TOP

    div.navigation-content.row
      div.navigation-area.navigation-area__lpp.column.four

      div.navigation-area.navigation-area__cpp.column.four.align-center
        div.navigation-area__heading
          a(href='./artist_kotaka.html')
            p.navigation-subheading 作家紹介
            p.navigation-heading 小鷹 拓郎

        div.navigation-area__heading
          a(href='./artist_yamamoto.html')
            p.navigation-subheading 作家紹介
            p.navigation-heading 山本 篤

        div.navigation-area__heading
          a(href='./artist_wada.html')
            p.navigation-subheading 作家紹介
            p.navigation-heading 和田 昌宏

      div.navigation-area.navigation-area__rpp.navigation-linkarea.column.four
        div.navigation-area__link
          a.navigation-area__link_link(href='./guest.html')
            p.navigation-linktext ゲスト作家紹介
          a.navigation-area__link_link(href='./schedule.html')
            p.navigation-linktext 上映スケジュール
          a.navigation-area__link_link(href='./info.html')
            p.navigation-linktext 基本情報
          a.navigation-area__link_link(href='./about.html')
            p.navigation-linktext 国立奥多摩美術館について
          //- a.navigation-area__link_link(href='#')
          //-  p.navigation-linktext 千春の部屋
        div.navigation-area__social.row
          a.navigation-linkicon__link(href='http://bit.ly/2aOh1bp')
            span.navigation-linkicon.twitter
          a.navigation-linkicon__link(href='http://bit.ly/2aiqN76')
            span.navigation-linkicon.facebook
          a.navigation-linkicon__link(href='http://bit.ly/2adVtoJ')
            span.navigation-linkicon.instagram
  div.navigation-startpoint
